package ${targetPackage};

import java.util.List;
import java.util.ArrayList;
import java.io.Serializable;

import javax.faces.bean.ManagedBean;
import javax.faces.bean.SessionScoped;
import javax.faces.event.ActionEvent;

import javax.inject.Inject;
import javax.enterprise.inject.Produces;
import javax.inject.Named;
import java.util.HashMap;
import org.jarchetypes.service.CRUDService;
import org.primefaces.context.RequestContext;
import $beanPathName;


@ManagedBean
@SessionScoped
public class ${beanName}CRUDBean  implements Serializable {

	@Inject
	private CRUDService<${beanName}> cRUDService;
	
	private List<${beanName}> list = new ArrayList<${beanName}>();
	
	#foreach( $widget in $filters )
	private $widget.getFieldType() $widget.getFieldName();			
	#end
	
	private ${beanName} bean = new ${beanName}();
	
	private boolean saved = false;
	
	public ${beanName}CRUDBean() {
		super();
	}
	
	public void search(){
		
		HashMap<String,Object> parameters = new HashMap<String,Object>(); 
		
		#foreach( $widget in $filters )
		parameters.put("$widget.getFieldName()",$widget.getFieldName());			
		#end
		
		
		try {
			list = cRUDService.search(${beanName}.class,parameters);
		} catch (Exception e) {
			e.printStackTrace();
		}
		
	}
	
	
	public List<${beanName}>  getList(){
				
		return list;
			
	}
	
	
	public boolean isSaved(){
		return saved;
	}
	
	#foreach( $widget in $filters )
	public String get$ArchetypesUtils.captalize($widget.getFieldName())() {
		return $widget.getFieldName();
	}

	public void set$ArchetypesUtils.captalize($widget.getFieldName())($widget.getFieldType() $widget.getFieldName()) {
		this.$widget.getFieldName() = $widget.getFieldName();
	}
	#end
	
	public void save(ActionEvent actionEvent) {
		RequestContext context = RequestContext.getCurrentInstance();   
		saved = false;
		try {
		
			cRUDService.save(bean);
			saved = true;
			
		} catch (Exception e) {
			e.printStackTrace();
			
		}
		
		context.addCallbackParam("saved", saved);
	}
	
	public ${beanName} get${beanName}(){
		return bean;
	}
	
	
	public void set${beanName}(${beanName} bean){
		this.bean = bean;
	}
	
	
	public String add(){
		bean = new ${beanName}();
		
		return "$beanName?faces-redirect=true";		
	}
		
}
