package ${targetPackage};

import java.util.List;
import java.util.ArrayList;
import java.io.Serializable;

import javax.faces.bean.ManagedBean;
import javax.faces.bean.SessionScoped;
import javax.faces.event.ActionEvent;

import javax.inject.Inject;
import java.util.HashMap;
import org.jarchetypes.service.CRUDService;
import org.primefaces.context.RequestContext;
import org.primefaces.event.CellEditEvent; 

import $beanPathName;


@ManagedBean
@SessionScoped
public class ${beanName}CRUDListBean  implements Serializable {

	private static final long serialVersionUID = 1L;

	@Inject
	private CRUDService cRUDService;
	
	private List<${beanName}> list = new ArrayList<${beanName}>();
	
	#foreach( $widget in $filters )
	private $widget.getFieldType() $widget.getFieldName();			
	#end
		
	private ${beanName} bean = new ${beanName}();
	
	private boolean saved = false;
	
	public ${beanName}CRUDListBean() {
		super();
	}
	
	public void search(){
		
		HashMap<String,Object> parameters = new HashMap<String,Object>(); 

		try {
			list = cRUDService.search(${beanName}.class,parameters);
		} catch (Exception e) {
			e.printStackTrace();
		}
		
	}
	
	
	public List<${beanName}>  getList(){
				
		return list;
			
	}
	
	
	public boolean isSaved(){
		return saved;
	}
	
	#foreach( $widget in $filters )
	public  $widget.getFieldType() get$ArchetypesUtils.captalize($widget.getFieldName())() {
		return $widget.getFieldName();
	}

	public void set$ArchetypesUtils.captalize($widget.getFieldName())($widget.getFieldType() $widget.getFieldName()) {
		this.$widget.getFieldName() = $widget.getFieldName();
	}
	#end
	
	public void save(ActionEvent actionEvent) {
		RequestContext context = RequestContext.getCurrentInstance();   
		saved = false;
		try {
		
			cRUDService.save(bean);
			saved = true;
			
		} catch (Exception e) {
			e.printStackTrace();
			
		}
		
		context.addCallbackParam("saved", saved);
	}
	
	public ${beanName} getBean(){
		return bean;
	}
	
	
	public void setBean(${beanName} bean){
		this.bean = bean;
	}
	
	
	public String add(){
		bean = new ${beanName}();
		
		list.add(bean);
		
		return "$beanName?faces-redirect=true";		
	}
	
	public String cancel() throws Exception{
		Object id = bean.getClass().getMethod("getId").invoke(bean);
	
		if (id == null) {
			bean = new ${beanName}();
		} else {
			bean = cRUDService.find(${beanName}.class,id);
		}
			
		
		return "${beanName}Search?faces-redirect=true";		
	}
	
  	public void onCellEdit(CellEditEvent event) {  
        Object oldValue = event.getOldValue();  
        Object newValue = event.getNewValue();  
          
##        if(newValue != null && !newValue.equals(oldValue)) {  
##            FacesMessage msg = new FacesMessage(FacesMessage.SEVERITY_INFO, "Cell Changed", "Old: " + oldValue + ", New:" + newValue);  
##            FacesContext.getCurrentInstance().addMessage(null, msg);  
##        }  
    }  	
		
}
