#if(! $simpleInput)
<h:panelGrid id="${widget.getFieldName()}PanelGrid" columns="3">   
	<h:outputLabel for="${widget.getFieldName()}" value="${widget.getTitle()}" />
#end 
		<p:inputText id="${widget.getFieldName()}" value="#{${pathToBean}.${widget.getFieldName()}}"  
			required="${widget.getAttribute("required")}" #if(${widget.getAttribute("max")}) maxlength="${widget.getAttribute("max")}" #end	
			>
			#if(${widget.getAttribute("regex")}) 
				<f:validateRegex pattern="${widget.getAttribute("regex")}"/>
			#end
			#if(${widget.getAttribute("min")}) 
				<f:validateLength minimum="${widget.getAttribute("min")}" />
			#end
			<p:ajax event="change" />
		</p:inputText>
#if(! $simpleInput)		
		<p:message for="${widget.getFieldName()}"/>
</h:panelGrid>
#end 