<table style="margin-bottom: 10px; margin: 0">
	<tr> 
		<td><h:outputLabel for="${widget.getFieldName()}" value="${widget.getTitle()}" /> 
		</td> 
		<td><p:inputText id="${widget.getFieldName()}" value="#{${widget.getBeanName()}.${widget.getFieldName()}}"  />
		</td>
	</tr>
</table>