<h:panelGrid id="${widget.getFieldName()}PanelGrid" columns="3">   
	<h:outputLabel for="${widget.getFieldName()}" value="${widget.getTitle()}" /> 
	<p:inputMask id="${widget.getFieldName()}" value="#{${pathToBean}.${widget.getFieldName()}}"
  	required="${widget.getAttribute("required")}" #if(${widget.getAttribute("max")}) maxlength="${widget.getAttribute("max")}" #end	
  	 #if(${widget.getAttribute("mask")}) mask="${widget.getAttribute("mask")}" #end>
  		<p:ajax event="change" /> 		
  	</p:inputMask>
	<p:message for="${widget.getFieldName()}"/>
</h:panelGrid>