package ${targetPackage};

import java.io.Serializable;
import java.util.HashMap;

import javax.faces.bean.ApplicationScoped;
import javax.inject.Named;

import org.jarchetypes.descriptor.ArchetypeDescriptor;
import org.jarchetypes.service.BaseMainMenuBuilder;
import javax.annotation.PostConstruct;
import javax.enterprise.inject.Produces;
import org.primefaces.model.MenuModel;


#foreach( $archetype in $archetypesDescriptors )
import $archetype.getArchetypeType();			
#end


@Named
@ApplicationScoped
public class MainMenuBuilder extends BaseMainMenuBuilder implements Serializable {
		
	public MainMenuBuilder(){
		super();
		
	}
	
	static {
	
		#foreach( $archetype in $archetypesDescriptors )
		archetypes.put("$archetype.getArchetypeType()",new ArchetypeDescriptor("$archetype.getArchetypeType()","$archetype.getCategory()","$archetype.getTitle()","$archetype.getPath()"));			
		#end
	}	
	
	public MenuModel getMenuModel() {
		return menuModel;
	}

	@PostConstruct
	public void build(){
		buildMenuModel();
	}
		
		
}
