##
## Copyright 2013 Ricardo Girardi Sixel
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
 
 
 
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Java EE 6 Starter Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>

<h:body>
	<p:panel header="Archetypes" style="margin-top: 10px;">

		<h:form>
			<p:toolbar>
				<p:toolbarGroup align="left">

					<p:commandButton type="button" value="Limpar busca"
						icon="ui-icon-trash" />
				</p:toolbarGroup>


				<p:toolbarGroup align="right">
					<p:commandButton type="button" value="localizar"
					actionListener="$searchBean.search()"
						icon="ui-icon-search" />


				</p:toolbarGroup>

			</p:toolbar>


			<p:panel header="Busca">
				<p:messages id="messages" showSummary="true" showDetails="true" autoUpdate="true" closable="true" />
				#foreach( $widget in $filters )
	    			#parse( $widget.getTemplateName() )
				#end
			</p:panel>

		</h:form>
	</p:panel>
</h:body>
</html>