##
## Copyright 2013 Ricardo Girardi Sixel
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:s="http://jboss.org/seam/faces"
	template="/templates/main.xhtml">
	
	<ui:define name="content">
	<h:form id="mainform">
		<p:panel header="$title" style="margin-top: 10px;">
					<p:toolbar>
						<p:toolbarGroup align="left">
		
							<p:commandButton type="button" value="Limpar busca"
								icon="ui-icon-trash" />
								
							<p:commandButton value="Adicionar $title" ajax="false"
								action="#{${managedBean}.add}"
								icon="ui-icon-plus" />
								
						</p:toolbarGroup>
		
		

								
						<p:toolbarGroup align="right">								
							<p:commandButton id="cbSearch" value="consultar"
									styleClass="btRed" update="searchResult"
									actionListener="#{${managedBean}.search}" 	icon="ui-icon-search" />						
		
						</p:toolbarGroup>
		
					</p:toolbar>
		
		
					<p:panel header="Busca">
						<p:messages id="messages" showSummary="true" showDetails="true" autoUpdate="true" closable="true" />
						#foreach( $widget in $filters )
			    			#parse( $widget.getTemplateName() )
						#end
					</p:panel>
		
			
				<div style="margin-top: 50px; margin-bottom: 10px;">
					<p:dataTable id="searchResult" var="resultItem"
						emptyMessage="Realize a consulta"
						value="#{${managedBean}.list}"
						scrollable="true" liveScroll="true" scrollRows="20"
						scrollHeight="300" style="width:950px;">
						
						#foreach( $column in $searchColumns )
			    			<p:column headerText="$column.title">
								<h:outputText value="#{resultItem.$column.fieldName}" />
							</p:column>		    			
						#end
						
						<p:column width="50" style="text-align: center;">
							<p:commandButton id="selectButton" icon="ui-icon-search"
								title="editar" action="$beanName?faces-redirect=true" immediate="true">
								<f:setPropertyActionListener
									target="#{${pathToBean}}" value="#{resultItem}"></f:setPropertyActionListener>
							</p:commandButton>
						</p:column>

					</p:dataTable>
				</div>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>