<p:selectOneMenu id="${widget.getFieldName()}" value="#{${managedBean}.${widget.getFieldObject()}}"		  	 
		  	 
		  	 #if(${widget.getAttribute("converter")}!="") converter="${widget.getAttribute("converter")}" #end	
		  	 
		  	 #if(${widget.getAttribute("var")}!="") var="${widget.getAttribute("var")}" #end
		  	 
		  	 #if(${widget.getAttribute("required")}!="") required="true" #end
		  	 
		  	 #if(${widget.getAttribute("requiredMessage")}!="") requiredMessage="${widget.getAttribute("requiredMessage")}" #end
		  	 
		  	 #if(${widget.getAttribute("items")}) items="#{${managedBean}.bean.${widget.getFieldName()}}" #end
		  	 
		  	 #if(${widget.getAttribute("style")}!="") style="${widget.getAttribute("style")}" #end>
		  	 
			<f:selectItem itemLabel="Selecione" itemValue="" />
			
			#if(${widget.getAttribute("selectItems")})
				
				<f:selectItems 
				    value="#{${managedBean}.${widget.getFieldName()}List}"
				    
				    #if(${widget.getAttribute("selectItemsVar")}!="") var="${widget.getFieldObject()}" #end
				
				 	#if(${widget.getAttribute("itemLabel")}!="") itemLabel="#{${widget.getAttribute("itemLabel")}}" #end
				 />
				 		
			#end
</p:selectOneMenu>		  